{% extends 'base.html' %}
{% load static %}
{% block body %}


<!-- deal section starts  -->

<section class="deal">
    
    <div class="content">
        <h3>{{b.book_name}}</h3>
        <h1>{{b.author}}</h1>
        <p>{{b.desc}}</p>
        <a class="btn">Price-{{b.price}}</a>
    </div>

    <div class="image">
        <img src="{{b.image.url}}" alt="">
    </div>

</section>

<section>
    <header class="header">
        <div class="header-1">

            <!-- <a href="#" class="logo"> <i class="fas fa-book"></i> bookly </a> -->

            <form action="{% url 'handle_order' %}" method="post">
                {% csrf_token %}
                <input type="hidden" value="{{b.pk}}" name="pk">
                <input type="text" style="width: 40vw;height: 7vh;border: 1px solid black;left: 60vw;" name="name" placeholder="Name" >
                <br></br>
                <input type="text" style="width: 40vw;height: 7vh;border: 1px solid black;left: 60vw;" name="email" placeholder="Email" id="search-box">
                <br></br>
                <input type="number" style="width: 40vw;height: 7vh;border: 1px solid black;left: 60vw;" name="mobile" placeholder="Mobile Number" id="search-box">
                <br></br>
                <input type="text" style="width: 40vw;height: 7vh;border: 1px solid black;left: 60vw;" name="address" placeholder="Address" id="search-box">
                <br></br>
                <button type="submit" value="submit" class="btn">Order Now</button>
                <!-- <input type="text" style="width: 40vw;height: 7vh;border: 1px solid black;left: 60vw;" name="name" placeholder="Name" id="search-box">
                <br></br>
                <input type="text" style="width: 40vw;height: 7vh;border: 1px solid black;left: 60vw;" name="name" placeholder="Name" id="search-box">
                <br></br> -->
                <!-- <input type="text" style="width: 40vw;height: 10vh;border: 1px solid black;" name="name" placeholder="search here..." id="search-box">
                <label for="search-box">Name</label> -->
            </form>

            <!-- <div class="icons">
                <div id="search-btn" class="fas fa-search"></div>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-shopping-cart"></a>
                <div id="login-btn" class="fas fa-user"></div>
            </div> -->

        </div>
    </header>    
</section>

<!-- deal section ends -->

{% endblock %}